@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body, html {
  height: 100%; 
  background: #101010;
  font-family: 'Oswald', sans-serif;

}



.header {
  background-color: #121212;
  position: fixed;
  width: 100%;
/*           <ReactTwitchEmbedVideo channel="vangamingleague" width="100%"  layout="video"/>
*/
}

.home {
  margin: 0 auto; 
  padding: 0 20% 0 20% ;
  min-height: 700px;
  background: url("./images/wallpaper.jpg");
  background-size: cover;
}

.title {
  padding: 3em 0 1em 0;
  font-size: 35px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  color: #C9AA71;

}

p {
  margin: 0 20%;
  text-align: center;
  color: grey;
  line-height: 1.6;
  letter-spacing: 1.4px;
}

section {
  padding-bottom: 50px;
}

.menu {display: none}

.imgrow {
/*  margin: 0 auto;
  padding: 0 20%;
  text-align: center;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
/*  align-content: space-around;
*/
}

h3 {
  text-align: center;
  color: grey;
}
h4 {
  text-align: center; 
  color: gold;
  /*font-family: 'Major Mono Display', monospace;*/

}

.diamond {
  color: #57d1cb;
}

.plat {
  color: #049328;
}




/*
 *  Flex Layout Specifics
*/
/*main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }*/

/*



li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
    color: gold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }


span {
	color: grey;
}*/