@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body, html {height: 100%; background: #262728;}
body,h1,h2,h3,h4,h5,h6 {

	font-family: 'Oswald', sans-serif;
	color: white;

}
.menu {display: none}
.fancy {
	font-family: 'Permanent Marker', cursive;     
	color: white;
	font-weight: bold;
	text-align: center;
}
.better {
	font-family: 'Permanent Marker', cursive;     
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding: 15px 0 0 0;
}

/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/


li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
    color: gold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }


span {
	color: grey;
}